{:kotoba.app/id "cloud.itonami.isic-2431", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigzzfnobyguxuuhuvxc2q52e7a2wi6hmwghxixljmv37yeubrgd3a", :kotoba.app/embed-url "ipfs://bafkreigzzfnobyguxuuhuvxc2q52e7a2wi6hmwghxixljmv37yeubrgd3a", :published {:archive "https://kotobase.net/ipfs/bafkreigzzfnobyguxuuhuvxc2q52e7a2wi6hmwghxixljmv37yeubrgd3a", :size 73069, :put-status 201, :get-status 200, :at "2026-08-15T13:38:32.377Z"}}
